*{
    padding: 0px;
  
    margin: 0px;
    box-sizing: border-box;
}

header{
    background: url(image/bg.jpg) no-repeat center ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    padding-top: 20px;
}



.container img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid #e05200;
    margin-left: 20px;
}

header img:hover{
    box-shadow: 0 0 3px blue;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #1400ca;
    border: 2px solid #e05200;
    padding: 5px;
    border-radius: 7px;
    transition: background 0.5s;
    transition: 0.6s;

}

nav ul li a:hover{
    color: #e05200;
    border: 2px solid #1400ca;
    box-shadow: 3px 3px 5px #e05200;
}

header h1{
    text-align: center;
    padding-top: 150px;
}

header .search #bar{
    min-height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10% 10% 10%;


}

span{
    color: #1400ca;
}


form.searchbar input[type=text]{
    width: 500px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid #e05200;
    border-radius: 10px;
    align-items: center;
    outline: none;
    color: #1400ca;
    text-align: center;
    transition: border-color 0.3s;
    transition: border 0.5s;
    transition: all 0.3s ease 0s;

}
form.searchbar input[type=text]:hover{
    border-color: #1400ca;
    box-shadow: 0 0 3px #e05200;
    color: black;
    transition: all 0.3s ease 0s;
}
form.searchbar input[type=text]:focus{
    border: 4px solid #1400ca;
    transition: all 0.3s ease 0s;
}

::placeholder{
    color: green;
}

   
/* form.searchbar button{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    border: 3px solid #1400ca;
    transition: box-shadown 0.3s, text-shadow 0.3s;
    transition: background-color 0.5s;
    transition: all 0.3s ease 0s;
}

form.searchbar button:hover{
    background-color: #e05200;
    border: 2px solid #1400ca;
    transition: all 0.3s ease 0s;
}
form.searchbar button:hover:active{
    background-color: #d3723b;
} */

header .allcourse a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header .allcourse i{
    margin-left: 50px;
    background-color: transparent;
}

header .allcourse button{
    background-color: #192824;
    width: 80%;
    height: 10vh;
    border-radius: 0 20px;
    background-color: #1400ca;
    border: 3px solid #e05200;
    font-size: 30px;
    transition: background-color 0.5s;
    transition: 0.5s;
}


header .allcourse button:hover{
    background-color: #e05200;
    border-color:#1400ca;
    box-shadow: 0 0 10px #1400ca;
}

header .allcourse button:hover:active{
    background-color: #cc7949;
    border-color:#3a3099;

}

header .what{
    font-size: 20px;
    margin: 20px;
}
header .what h1{
    text-align: left;
    margin-bottom: 20px;
}
header .what p{
    text-align: justify;
    line-height: 1.5;
   
}

header .footer p{
    text-align: center;
    background-color: #192824;
    width: 100%;
    padding: 10px;
}


/* PVMC */

.mission{
    width: 100%;
    text-align: center;
    padding: 0 50px;
}


.mission h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.mission h2{
    padding: 20px;
    font-size: 30px;
}




.mission p{
    font-size: 30px;
    padding-bottom: 40px;
    text-justify: inter-word;
    text-align: justify;
    padding: 20px;
    color: white;
    transition: 0.3s;
}

.mission .PVM p:hover{
    color: green;
    box-shadow: 0 0 10px green;
    background-color: #241e1ea4;
    border-radius: 20px;

}




.mission .coeVM p:hover{
    color: #130080;
    box-shadow: 0 0 10px #130080;
    background-color: #241e1ea8;
    border-radius: 20px;
}

.mission .PVM span::before{
    content: "VISION";
    transition: content 1s;
    animation: vmp  infinite 10s;
    transition: content 1s;
    animation-timing-function: ease-in-out;

}


@keyframes vmp {
    33%{content: "VISION";
        color: #130080;}
    66%{
        content: "MISSION";
        color: green;
    }
    99%{
        content: "PHILOSOPHY";
        color: orange;
    }

    
}



.mission .coeVM span::before{
    content: "MISSION";
    transition: content 1s;
    animation: coevm  infinite 10s;
    transition: color 1s;

}

@keyframes coevm {
    50%{content: "VISION";
        color: #130080;}
    100%{
        content: "MISSION";
        color: green;
    }
}

  
